{% load static %}

<head>
  <title>Fund Details</title>
  {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'kiwisaver/style.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <header>
    <h1>{{ fund.name }}</h1>
  </header>

  <main>
    <div class="container-fluid fund-summary">
    <section>
        <div class="row">
          <div class="col-12 col-md-3 fund-summary-section">
            <h2>Fund details</h2>
            <h3>Returns: {{ fund.returns }}%</h3>
            <div>Average: 4.5%</div>
            <h3>Fees: {{ fund.fees }}%</h3>
            <div>Average: 1.5%</div>
          </div>

          <div class="col-12 col-md-3 fund-summary-section">
            <h2>Ethical investment</h2>
            <p>A short description about what this means</p>
            <div class="row">
              {% for badge in fund.badges.all %}
              <img
                class="col-lg-3 object-fit-contain p-1 ks-badge"
                src="{{ badge.icon.url }}"
                alt="{{ badge.name }}"
              />
              {% endfor %}
            </div>
          </div>

          <div class="col-12 col-md-6 fund-summary-section">
            <ul>
              {% for fundrating in fund.fundrating_set.all %}
              <li class="rating-item">
                <div class="row">
                  <div class="col-8">
                    <h3>
                      {{ fundrating.rating.name }}
                    </h3>
                    <div >
                      {{ fundrating.rating.short_desc }}
                    </div>
                  </div>
                  <div class="col-4 rating-score-container">
                    <div class="rating-score">
                      {{ fundrating.score }}
                    </div>
                  </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
      
      <section>
        <h2>Actual Investment in Harmful Companies</h2>
        <div class="row">
          <div class="col-lg-6">
          The graph below shows the percentage of the fund invested in each of the worst issues of concern to New Zealanders. Below the graph are listed all the companies this fund invests in, by issue of concern.
        </div>
        
        <div class="col-lg-6 concern-legend">
          <h3>Key: </h3>
          <div class="row">
            {% for legend in chart_legend %}
            <div class="col-md-6 col-lg-4 legend-item">
              <span class="rounded-circle legend-circle legend-{{legend.color}}"></span>
              <span class="legend-text">{{ legend.text }}</span>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="row">
        <img class="col chart-placeholder" src="/media/badges/placeholder/chart-placeholder.png" alt="Dummy Chart Data" />
      </div>
      
      <h2 class="concerns-heading">Companies of Concern</h2>
      {% for category in categories.all %}
      <h4 class="concern-category-heading">{{ category.name }}</h4>
      {% for company in category.company_set.all %}
      <a href="" target="_self" data-bs-toggle="modal" data-bs-target="#companyModal">{{ company.name }}</a>
      {% endfor %}
      {% endfor %}
    </section>
  </div>
  </main>
</body>

<div class="modal fade" id="companyModal" tabindex="-1" aria-labelledby="companyModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Naughty Company</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The company formerly known as Natter was taken over by a power-hungry CEO who has been known to exploit workers and the environment.  And generally fill the internet with nonsense.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>