{% load static %}

<head>
  <title>Fund Details</title>
  {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'kiwisaver/style.css' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <header>
    <h1>{{ fund.name }}</h1>
  </header>

  <main>
    <section>
      <div class="container-fluid fund-summary">
        <div class="row">
          <div class="col-lg-2 fund-summary-section">
            <h2>Fund details</h2>
            <h3>Returns: {{ fund.returns }}%</h3>
            <div>Average: 4.5%</div>
            <h3>Fees: {{ fund.fees }}%</h3>
            <div>Average: 1.5%</div>
          </div>

          <div class="col-lg-2 fund-summary-section">
            <h2>Ethical investment</h2>
            <p>A short description about what this means</p>
            <div class="row">
              {% for badge in fund.badges.all %}
              <img
                class="col-lg-4 object-fit-contain p-1 ks-badge"
                src="{{ badge.icon.url }}"
                alt="{{ badge.name }}"
              />
              {% endfor %}
            </div>
          </div>

          <div class="col-lg-8 fund-summary-section">
            <ul>
              {% for fundrating in fund.fundrating_set.all %}
              <li class="rating-item">
                <div class="row">
                  <div class="col-8">
                    <h3>
                      {{ fundrating.rating.name }}
                    </h3>
                    <div >
                      {{ fundrating.rating.short_desc }}
                    </div>
                  </div>
                  <div class="col-4 rating-score-container">
                    <div class="rating-score">
                      {{ fundrating.score }}
                    </div>
                  </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2>Actual investment in harmful companies</h2>
      <div class="row">
        <div class="col-lg-6">
          The graph below shows the percentage of the fund invested in each of the worst issues of concern to New Zealanders. Below the graph are listed all the companies this fund invests in, by issue of concern.
        </div>
        <div class="col-lg-6 concern-legend">
          <h3>Key: </h3>
          <div class="row">
            <div class="col-lg-4 legend-item">
                <span class="rounded-circle legend-circle legend-yellow"></span>
                <span>Human Rights Violations</span>
            </div>
            <div class="col-lg-4 legend-item">
              <span class="rounded-circle legend-circle legend-jade"></span>
              <span>Environmental Harm</span>
            </div>
            <div class="col-lg-4 legend-item">
              <span class="rounded-circle legend-circle legend-raspberry"></span>
              <span>Animal Cruelty</span>
            </div>
            <div class="col-lg-4 legend-item">
              <span class="rounded-circle legend-circle legend-brown"></span>
              <span>Weapons</span>
            </div>
            <div class="col-lg-4 legend-item">
              <span class="rounded-circle legend-circle legend-purple"></span>
              <span>Fossil Fuels</span>
            </div>
            <div class="col-lg-4 legend-item">
              <span class="rounded-circle legend-circle legend-violet"></span>
              <span>Social Harm</span>
            </div>
          </div>
        </div>
      </div>
      

      <img class="chart-placeholder" src="/media/badges/placeholder/chart-placeholder.png" alt="Dummy Chart Data" />
      

      <h2>Companies of concern</h2>
      <ul>
        {% for holding in fund.holding_set.all %}
        <li>{{ holding.company }}: {{ holding.percentage }}%</li>
        {% endfor %}
      </ul>
    </section>
  </main>
</body>
